*{
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif;
}
.sectionone{
    height: 75vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../Images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionone .centerdiv{
    height: 90%;
    width: 75%;
}
.centerdiv .header{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sectionone img{
    margin-left: 110px;
}
.header .navbar{
    margin-right: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.navbar a:hover{
    color: rgb(22, 179, 231);
}
.navbar li{
    list-style: none;
    margin-left: 30px;
    font-family: monospace;
    font-size: 18px;
}
.navbar button{
    margin-left: 30px;
    background-color: rgb(22, 179, 231);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 1s;
}
.navbar button:hover{
    background-color: white;
    color: rgb(22, 179, 231);
}
.centerdiv .banner{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner p{
    color: white;
    font-family: monospace;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}
.banner button{
    color: white;
    background-color: rgb(22, 179, 231);
    border: none;
    padding: 9px 7px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 15px;
    /* transition: 1s; */
    margin-top: 50px;
}
.banner button:hover{
    border: solid 2px rgb(22, 179, 231);
    color: rgb(22, 179, 231);
    background-color: transparent;
}
/* END OF SECTION THREE */

/* START OF SECTION TWO */
.sectiontwo{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.90);
}
.sectiontwo .centerdiv{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectiontwo .centerdiv h3{
    font-size: 34px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.centerdiv .center{
    margin-top: 35px;
    margin-bottom: 35px;
}
.centerdiv .last{
    margin-bottom: 70px;
}
.sectiontwo button{
    padding: 10px 7px;
    border: solid 2px rgb(22, 179, 231);
    font-weight: 600;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}
/* END OF SECTION TWO */

/* START OF SECTION THREE */
.sectionthree{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.90);
}
.sectionthree .maindiv{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.maindiv .albumDiv{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.albumDiv .upperdiv{
    height: 48%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.upperdiv .one{
    height: 100%;
    width: 32%;
}
.upperdiv .two{
    height: 100%;
    width: 32%;
}
.upperdiv .three{
    height: 100%;
    width: 32%;
}
.albumDiv .lowerdiv{
    height: 48%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lowerdiv .one{
    height: 100%;
    width: 32%;
}
.lowerdiv .two{
    height: 100%;
    width: 32%;
}
.lowerdiv .three{
    height: 100%;
    width: 32%;
}